@import "tailwindcss";
.input {
  @apply w-full border border-gray-300 px-3 py-2 rounded-md text-sm focus:outline-none focus:ring-1 focus:ring-black;
}
.label {
  @apply block text-xs font-medium text-gray-600 mb-1;
}